<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <!--PORTATIL -->
    <!--<add name="Conection" connectionString="Data Source=DESKTOP-TITB9IF;Initial Catalog=DistribucionesArlys;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <!-- ESCRITORIO -->
    <add name="Conection" connectionString="Data Source=DESKTOP-AOFVC0F;Initial Catalog=DistribucionesArlys2;Integrated Security=True" providerName="System.Data.SqlClient" />
    <!-- FERRETERIA -->
    <!--<add name="Conection" connectionString="Data Source=ARLYS;Initial Catalog=DistribucionesArlys;Integrated Security=True" providerName="System.Data.SqlClient" />-->
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <appSettings>
    <!--************************************************************************************************************-->
    <!--DESKTOP-->
    <add key="password" value="select Contrasena from Usuario where administra = 1" />
    <add key="passwordAdmin" value="select Contrasena from Usuario where administra = 1" />
    <add key="pathTxt" value="D:\DistribucionesArlys\Factura.txt" />
    <add key="pathTXTPDF" value="D:\DistribucionesArlys\Factura.pdf" />
    <add key="empresora" value="Microsoft XPS Document Writer" />
    <add key="PathExcel" value="D:\DistribucionesArlys\Cotizacion.xlsx" />
    <add key="PathPDF" value="D:\DistribucionesArlys\Cotizacion.pdf" />
    <add key="factTxt" value="D:\DistribucionesArlys\FacturaTEXT.txt" />
    <add key="factPDF" value="D:\DistribucionesArlys\FacturaPDF.pdf" />
    <add key="PathExcelFactura" value="D:\DistribucionesArlys\Factura.xlsx" />
    <add key="PathPDFFactura" value="D:\DistribucionesArlys\Factura.pdf" />
    <!--************************************************************************************************************-->
    <!--PORTATIL-->
    <!--<add key="password" value="select [Password] from [User] where estado = 1 or administra = 1" />
		<add key="passwordAdmin" value="select [Password] from [User] where administra = 1 " />
		
		<add key="pathTxt" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Factura.txt" />
		<add key="pathTXTPDF" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Factura.pdf" />
		
		<add key="empresora" value="Microsoft XPS Document Writer" />
		
		<add key="PathExcel" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\Cotizacion.xlsx" />
		<add key="PathPDF" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\Cotizacion.pdf" />
			
		<add key="factTxt" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\FacturaTEXT.txt" />
		<add key="factPDF" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\FacturaPDF.pdf" />
		
		<add key="PathExcelFactura" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\Factura.xlsx" />
		<add key="PathPDFFactura" value="C:\Users\kmtav\OneDrive\Documentos\DataBaseSQL\DistribucionesArlys\Impresora\Factura.pdf" />-->
    <!--************************************************************************************************************-->
    <!--FERRETERIA-->
    <!--<add key="password" value="select [Password] from [User] where estado = 1 or administra = 1" />
		<add key="passwordAdmin" value="select [Password] from [User] where administra = 1 " />

		<add key="pathTxt" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.txt"/>
		<add key="pathTXTPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.pdf"/>

		<add key="empresora" value="POS-80"/>

		<add key="PathExcel" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Cotizacion.xlsx"/>
		<add key="PathPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Cotizacion.pdf"/>

		<add key="factTxt" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\FacturaTEXT.txt" />
		<add key="factPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\FacturaPDF.pdf" />

		<add key="PathExcelFactura" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.xlsx" />
		<add key="PathPDFFactura" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.pdf" />-->
    <!--************************************************************************************************************-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientWindowsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>