<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<!--PORTATIL -->
		<!--<add name="Conection" connectionString="Data Source=DESKTOP-VNGF9BS;Initial Catalog=DistribucionesArlys;Integrated Security=True" providerName="System.Data.SqlClient" />-->
		<!-- ESCRITORIO -->
		<add name="Conection" connectionString="Data Source=DESKTOP-E13CRC3;Initial Catalog=DistribucionesArlys;Integrated Security=True" providerName="System.Data.SqlClient" />
		<!-- FERRETERIA -->
		<!--<add name="Conection" connectionString="Data Source=ARLYS;Initial Catalog=DistribucionesArlys;Integrated Security=True" providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<appSettings>
		<!--PASSWORD LOCAL-->
		<add key="password" value="select [Password] from [User] where Id_User = 1020817740" />
		<!--PASSWORD PRODUCCION-->
		<!--<add key="password" value="select [Password] from [User] where Id_User = 40079945"/>-->
		
		<!--TEXT LOCAL-->
		<add key="pathTxt" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Factura.txt" />
		<add key="pathTXTPDF" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Factura.pdf" />
		<!--TEXT PRODUCCION-->
		<!--<add key="pathTxt" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.txt"/>
		<add key="pathTXTPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Factura.pdf"/>-->

		<!--IMPRESORA LOCAL-->
		<add key="empresora" value="Microsoft XPS Document Writer" />
		<!--IMPRESORA PRODUCCION	-->
		<!--<add key="empresora" value="POS-80"/>-->

		<!--PathExcel-->
		<add key="PathExcel" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Cotizacion.xlsx" />
		<!--<add key="PathExcel" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Cotizacion.xlsx"/>-->
		<!--PathPDF-->
		<add key="PathPDF" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\Cotizacion.pdf" />
		<!--<add key="PathPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\Cotizacion.pdf"/>-->

		<add key="TxtPDF" value="C:\Users\kmtav\OneDrive\Documents\DataBaseSQL\DistribucionesArlys\Impresora\FacturaTxt.pdf" />
		<!--<add key="TxtPDF" value="C:\Users\ferre\OneDrive\Documentos\DataBaseSQL\FacturaTxt.pdf" />-->
		
		
	</appSettings>
</configuration>